<div fxLayout="column" fxLayoutGap="20px">
    <button mat-raised-button color="primary">Post Question</button>
    <marquee behavior="scroll" direction="up" scrollamount="5" onmouseover="this.stop();" onmouseout="this.start();">
        <mat-list>
            <h3 mat-subheader>Experts</h3>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let expert of experts">
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line>{{expert.User.UserName}}</h4>
                <div mat-line *ngFor="let category of expert.Category">
                    {{ category.Name }},
                </div>
            </mat-list-item>
        </mat-list>
    </marquee>
</div>