<div fxLayout="column" fxLayoutAlign="space-around strech" style="margin:10 !important;" fxLayoutGap="20px">
  <div>
    <app-header></app-header>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around strech">
    <div fxFlex="20">
        <app-left-board></app-left-board>
    </div>
    <div fxFlex="60" fxLayoutAlign="start start">
      <!-- <app-question></app-question> -->
      <router-outlet></router-outlet>
    </div>
    <div fxFlex="20" fxLayoutAlign="space-around strech">
        <app-right-board></app-right-board>
    </div>
  </div>
</div>