<div fxLayout="column" fxLayoutAlign="space-around strech"  fxLayoutGap="5px">
  <div>
    <app-header></app-header>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around strech">
    <div fxFlex="20" style="background-color: yellow">
      <app-dashboard>
      </app-dashboard>
    </div>
    <div fxFlex="60" style="background-color:hotpink">
      <app-question></app-question>
    </div>
    <div fxFlex="20" style="background-color: yellow">
      <app-dashboard>
      </app-dashboard>
    </div>
  </div>
</div>